*{margin:0;padding: 0;}
body{
    background-color: #e3e3e3;
}
ul{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
li{
    list-style-type: none;
    padding: 1.5em;
    display: inline-block;
}
li:hover{
    background-color: black;
}
li:hover a{
    color: white;
}
a{
    text-decoration: none;
    font-style: italic;
    padding: .6em 1em;
    font-size: 20px;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}
.Dom .container_image{
    background-color: white;
    display: inline-block;
    margin: 4em;
    height: 400px;
    width: 400px;
}
.Dom .container_image h1{
    text-align: center;
    font-style: italic;
}
.Dom .container_image div{
    margin: 0 auto;
    width: 350px;
}
.Dom .container_image img{
    height: 100px;
    width: 100px;
    margin: 0.4em;
    border: solid 1px black;
    margin-top: 50px;
}