*{margin:0;padding: 0;}
body{
    background-color: #e3e3e3;
}
ul{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
li{
    list-style-type: none;
    padding: 1.5em;
    display: inline-block;
}
li:hover{
    background-color: #a8a8a8;
}
li:hover a{
    color: #000;
}
a{
    text-decoration: none;
    font-style: italic;
    padding: .6em 1em;
    font-size: 20px;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}
form{
    margin-left: 600px;
    margin-top: 63px;
}
form input{
    padding: 1em;
    border-radius: 50px;
    border: 1px solid #a8a8a8;
    padding: .9375rem 1.875rem;
}
form input[type=text]{
    width: 250px;
}
.Dom .container_image{
    background-color: white;
    display: inline-block;
    margin: 3em;
    margin-top: -40px;
    height: 400px;
    width: 350px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
}
.Dom .container_image h1{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
.Dom .container_image div{
    margin: 0 auto;
    width: 350px;
}
.Dom .container_image img{
    height: 100px;
    width: 100px;
    margin: 0.4em;
    border: solid 1px black;
    margin-top: 50px;
}
.my-article p{
    background-color: #ffffff;
    height: 320px;
    margin-top: -380px;
    margin-left: 500px;
    margin-bottom: 20px;
    width: 600px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 0.5em;
    font-size:18px;
}
footer{
    background-color: #a8a8a8;
    text-align: center;
    display: block;
    min-height: 100px;
    width: 100%;
}
footer h3{
    font-style: italic;
}
footer img:hover{
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
}