.Dom .container_image{
    background-color: white;
    display: inline-block;
    margin: 3em;
    margin-top: -40px;
    margin-left: 100px;
    height: 400px;
    width: 350px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
}
.Dom .container_image h1{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
.Dom .container_image div{
    margin: 0 auto;
    width: 350px;
}
.Dom .container_image img{
    height: 100px;
    width: 100px;
    margin: 0.4em;
    border: solid 1px black;
    margin-top: 50px;
}