ul{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid #a8a8a8;
}
li{
    list-style-type: none;
    padding: 1.5em;
    display: inline-block;
}
li:hover{
    background-color: #a8a8a8;
}
li:hover #linkmenu{
    color: #000;
}
#linkmenu{
    text-decoration: none;
    font-style: italic;
    padding: .6em 1em;
    font-size: 20px;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}