.my-event{
    background-color: #ffffff;
    height: 368px;
    margin-bottom: 20px;
    margin-left: 100px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 0.7em;
    font-size: 17px;
    width: 1000px;
}
.my-event span{
    font-style: italic;
    font-size: 20px;
}
.container-button{
    margin-top: 15px;
}
.container-button button{
    border-radius: 50px;
    border: 1px solid #a8a8a8;
    padding: .9375rem 1.875rem;
}
.container-button button:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}
.container div{
    display: grid;
    float: left;
    margin: 1em;
}
.container div span{
    margin: 1em;
}
.container div img{
    height: 50px;
    margin: 0.5em;
}